
body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    /*color: #fff;*/
    background: #18bc9c;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 200;
}


@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 1.75em;
    }

}

.mainmenu { z-index: 999999; width:100%;  padding: 30px 0 0 0;}
@media (min-width: 768px) {
    .mainmenu { position: fixed; }
}

.navbar-toggle {
    position:relative;
    float:left;
    display:block;
    padding: 9px 10px;
    background: rgba(255, 255, 255, 0.2);
    background-image: none;
    border: 0 none;
    top:0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;
    opacity: 1;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
    float: left;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.open .navbar-toggle {
    top:-70px;
    opacity: 0;
}
.mainmenu .dropdown-menu {
    top: -14em;
    left: 0px;
    font-size: 13px;
    padding:0;
    background:none;
    border:0 none;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display:block;
    opacity:0;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
}
.mainmenu .dropdown-menu .active {
    font-weight:bold;
}
.mainmenu .open .dropdown-menu {
    top:2px;
    opacity:1;
}

.mainmenu .link{
    font-weight: bold;
    border-bottom: 1px solid #5bc0de;
}

.mainmenu .dropdown-menu a {
    padding:10px 10px;
    margin:0;
    color:white;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mainmenu .dropdown-menu a:hover {
    background:rgba(255,255,255,.1);
    color:white;
    padding:10px 8px 10px 12px;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}


.fork_icon{
    width: 20px;
    height: 20px;
}

.fork_icon_div{
    margin-left: -145px;
}

#img_face{
    width: 140px;
    height:140px;
}

#prompt_head {
    height: 20px;
    margin-bottom: 5px;
}

.prompt_text{
    color: red;
}

#prompt_activity {
    height: 20px;
}

#my_level {
    margin-top: 15px;
    color: whitesmoke;
}

#user_name {
    color: #FDF9F4;
    font-weight: 500;
}

.border_show{
    border:1px solid #bbe1f1;background:#eefaff;
    border-radius:5px; /* 圆角 */
}

.avatar_hot_size{
    width: 200px;
    height:200px;
}

.activity_div{
    margin-top: -8px
}

.activity_color{
    color: red;
}

.activity_img{

}

.username_span {
    font-size: 16px;
    font-weight: 600;
}

#content{
    background-color: #FDF9F4;
}
/*#FDF9F4*/

#content .content-item {
    right: 0;
    margin: 0 0 15px;
}

#content .content-item .content-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#content .content-item .content-link .caption {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#content .content-item .content-link .caption:hover {
    opacity: 1;
}

#content .content-item .content-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#content .content-item .content-link .caption .caption-content i {
    margin-top: -12px;
}

#content .content-item .content-link .caption .caption-content h3,
#content .content-item .content-link .caption .caption-content h4 {
    margin: 0;
}

#content * {
    z-index: 2;
}

@media(min-width:767px) {
    #content .content-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.content-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.content-modal .modal-content img {
    margin-bottom: 30px;
}

.content-modal .modal-content .item-details {
    margin: 30px 0;
}

.content-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.content-modal .close-modal:hover {
    opacity: .3;
}

.content-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.content-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.nav_sprite{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: -10px;
    margin-left: 0;
    background-image: url("../images/my/nav/all.png");
}


.color_bar_span {
    background: #000;
}
